@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    scroll-behavior: smooth;
    background-color: rgb(20, 20, 20);
}

.bg-main {
    background-color: rgb(20, 20, 20);
}